/***** Generics *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /reset */

body {
  font-family: sans-serif, Arial, Helvetica;
}

header,
footer {
  color: #fff;
}

/***** /Generics *****/

/***** setting box container ******/

/* center principal container of first child of header/main/footer */

.container {
  width: 90vh;
  margin: 0 auto;
}

/* /center principal container of first child of header/main/footer */

/*** HEADER ***/

header {
  background-color: hsl(25deg 100% 50%);
}

#box-header {
  padding: 20px 0;
}

#logo-header {
  width: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#nav-header {
  width: 25%;
}

/*** HEADER ***/

/*** MAIN ***/

/* main card */
#box-main {
  padding: 30px 0;
  gap: 30px; /* 20px/2*3 */
}
.card {
  width: calc(100% / 3 - 20px);
  position: relative;
  height: 420px;
}

.card > img {
  width: 100%;
}

img[src*="b.web"] {
  visibility: hidden;
}

.card:hover img[src*="b.web"] {
  visibility: visible;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

/* /main card */

/*** /MAIN ***/

/*** FOOTER ***/

footer {
  background-color: black;
}

#box-footer {
  padding: 17px 0;
}
/*** /FOOTER ***/

/***** /setting box container ******/

/***** Utilities *****/

.flex {
  display: flex;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}
.column {
  flex-direction: column;
}
header ul {
  justify-content: space-between;
}
ul {
  list-style-type: none;
  width: 100%;
}
.cross-center {
  align-items: center;
}

.relative {
  position: relative;
}

/***** /Utilities *****/

/* DEBUG */
.card {
  background-color: rgb(255, 0, 0);
}

#box-footer > .box {
  width: calc(100% / 4);
  height: 30px;
  background-color: rgb(0, 255, 34);
  padding: 0 20px;
}
